body
{
    font-family: 'PT Sans Narrow', Calibri;
    font-size: 0.8em;
    margin:0px;
}

#header {
    width: 100%;
background-color: #5A5A5A;
padding: 0px;
font-size: 2em;
font-weight: bold;
color: #FAFAFA;
display: inline-block;
border-bottom: solid 1px rgb(207, 184, 184);

}
#header>div{
    padding:10px;
}

#status-control {
    text-align: right;
    padding: 5px 100px 5px 0px;
    color: rgb(126, 123, 123);
}
table {
    background-color: rgb(252, 252, 252);
    border-radius: 10px;
    padding: 10px;
    display: inline-block;
    height: 22px;
    width: 58%;
}

nav {
	background-color: #fff;
	border: 1px solid #dedede;
	border-radius: 4px;
	box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
	color: #888;
	display: block;
	margin: 8px 22px 8px 22px;
	overflow: hidden;
}

nav ul {
	margin: 0;
	padding: 0;
}

	nav ul li {
		display: inline-block;
		list-style-type: none;
		
		-webkit-transition: all 0.2s;
		-moz-transition: all 0.2s;
		-ms-transition: all 0.2s;
		-o-transition: all 0.2s;
		transition: all 0.2s; 
	}
	
		nav > ul > li > a {
			color: #aaa;
			display: block;
			line-height: 36px;
			padding: 0 24px;
			text-decoration: none;
		}
		
nav > ul > li > a > .caret {
	border-top: 4px solid #aaa;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
	content: "";
	display: inline-block;
	height: 0;
	width: 0;
	vertical-align: middle;
	
	-webkit-transition: color 0.1s linear;
	-moz-transition: color 0.1s linear;
	-o-transition: color 0.1s linear;
	  transition: color 0.1s linear; 
}

nav > ul > li:hover {
          background-color: rgb( 40, 44, 47 );
        }

        nav > ul > li:hover > a {
          color: rgb( 255, 255, 255 );
        }

        nav > ul > li:hover > a > .caret {
          border-top-color: rgb( 255, 255, 255 );
        }
.news-description 
{
    background-color: rgb(226, 223, 223);
    padding: 30px;
}
.news-heading
{
    font-size: 24px;
    text-align: left;
}